.auth-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    margin: auto;
    margin-top: 60px;
    padding: 30px 100px;
}